body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* .card{
  width: 50%;
  margin: 0 auto;
  text-align: center;
} */

.list-group{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* .signup{
  text-align: center;
  height: 3vw;
  /* display: grid; */
  /* justify-content: center; */
  /* padding: 2vw; */
  /* display: inline; */
  /* flex-direction: column; */
/* } */

/* .signup-header{
  text-align: center;
  padding: 1vw;
} */

.card {
  /* Add shadows to create the "card" effect */
  /* width: 25%; */
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 8px;
}

.ui.cards {
  justify-content: center;
  padding: 3em;
}

.ui.grid>.row {
  padding-top: 2rem !important;
}

/* .ui.loader:after, .ui.loader:before {
  margin-top: 50px;
  margin-left: 1.2em */
/* } */
